*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background: rgb(244, 245, 247);
}
.conteudo{
    left: 50%;
    margin: 0 0 0 -250px;
    position: absolute;
    width: 500px;
}
.calendario{
    text-align: center;
}
.conteudo .calendario header{
    position: relative;
}
h2{
    margin-top: 20px;
    font-size: 32px;
}
.btn-ant,.btn-pro{
    position: absolute;
    top: 50%;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    font-size: 16px;
    font-weight: bold;
}
.btn-ant{
    left: 80px;
}
.btn-pro{
    right: 80px;
}
.btn-ant:hover,.btn-pro:hover{
    background: rgb(255, 250, 250);
    color: #fdfdfd;
}
.calendario table{
    margin-top: 20px;
    border-collapse: collapse;
}
.calendario thead{
    background: white;
    font-weight: 600;
    text-transform: uppercase;
}
.calendario td{
    border: 1px solid #cbd1d2;
    height: 71.4px;
    text-align: center;
    width: 71.4px;
}
.calendario tbody td{
    cursor: pointer;
}
.calendario tbody td:hover{
    background: rgba(0,173,223,0.8);
    color:mediumblue;
}
.calendario table .dia-atual{
    background: rgba(0,173,223,0.8);
    color: mediumblue;
}
.calendario .mes-anterior, .calendario .proximo-mes{
    color: #cbd1d2;
}
.calendario .mes-anterior:hover, .calendario .proximo-mes:hover{
    background: #98a0a0;
}
.event{
    position: relative;
}
.event:after{
    content: '';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5px;
    background: #00addf;
    display: block;
    position: absolute;
    border-radius: 50%;
}
.event:hover::after{
    background: #f9f9f9;
}
.event.dia-atual:after{
    background: #f9f9f9;
}
.calendario table .dia-atual{
    background: darkgreen;
}
.calendario .mes-anterior, .calendario .proximo-mes{
    color: darkgrey;
}
.table td{
     border: solid 1px #ddd;
}
td{
    padding: 5px;
}
table tr{
    cursor:pointer;
}
strong{
    font-weight: 200;
    font-size: 9pt;
}
.table-title strong{
    font-weight: bold;
    font-size: 14pt;
}
.table-title{
    width: 300px;
    
}
table, td, th{
    border: 1px solid #000;
}
.td image{
    background-image: url"(https://livrariaflorence.fbitsstatic.net/img/p/livro-pedagogia-do-oprimido-freire-paz-e-terra-196754/383097.jpg?w=660&h=660&v=no-change)";
    
}